#mainContent {
    margin: 60px auto;
    padding: 20px;

    background-color: #0c1a2b;
    border: 2px solid #c0d9af;
    border-radius: 12px;
    box-shadow: 0 0 20px #c0d9af40;
}

/* ABOUT */
.title {
    text-align: center;
    color: var(--verde-claro);
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}
.about-separator {
    border: none;
    height: 2px;
    background-color: #c0d9af;
    width: 100%;
    margin-bottom: 20px;
}
.multicolumna {
    column-count: 3;
    column-gap: 50px;
    column-rule: 1px solid #c0d9af20;

}
.multicolumna p {
    text-align: justify;
    margin-bottom: 1em;

    font-size: 16px;
    line-height: 1.3;

    margin-top: 0;
}
