/* -------------------------- */
/* Sistema de 12 columnas     */
/* -------------------------- */
:root {
    --color-background: #0c1a2b;
    --color-background2: #0c1c2b;
    --color-text: #c0d9af;
    --color-primary: #a6c88f;
    --color-secondary: #88a368;
    --color-border: #d9d9d9;

    --font-family: 'Inter', Arial, sans-serif;
    --font-size-base: 14px;
    --font-size-large: 18px;
    --font-size-title: 28px;

    --border-radius: 6px;
    --border-width: 2px;
}

/* -------------------------- */
/* Estilos base               */
/* -------------------------- */

body {
    /*background-color: var(--color-background);*/
    background: radial-gradient(circle, var(--color-background2), var(--color-background));
    color: var(--color-text);
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* -------------------------- */
/* Header y Navbar            */
/* -------------------------- */



/* -------------------------- */
/* Main                       */
/* -------------------------- */

/* Contenido de main */
/* Columnas internas (semánticas) */
main aside,
main article,
main section {
    background: transparent; /* eliminamos el fondo gris que se añadió antes */
    margin: 0;
    padding: 0 10px;
}

/* Títulos de las columnas */
main h2 {
    font-size: 18px;
    color: var(--color-primary);
    font-weight: 600;
    margin-bottom: 10px;
}

/* Párrafos dentro del contenido */
main p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 10px;
}

