/* watchlist.css - Estilos para la página de watchlist */

h1 {
    text-align: center;
    color: #c0d9af;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    background: #4a6978;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

img {
    width: 80px;
    border-radius: 5px;
}
