.win .btn-no{
    background-color: #c0d9af;
    color: #0c1a2b
}
.win .btn-si{
    background-color: #008D34;
    color: #0c1a2b
}

.lost .btn-no{
    background-color: #910d0d;
    color: #c0d9af
}
.lost .btn-si{
    background-color: #c0d9af;
    color: #0c1a2b
}